
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none!important;
}

@font-face {
  font-family: bicubik;
  src: url(../fonts/bicubik.otf);
}

a {
  text-decoration: none!important;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.25px;
  font-weight: 600;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.primary-button a {
  padding: 13px 20px;
  letter-spacing: 1px;
  background-color:rgba(102, 93, 106, 0.43);
  color: #fffdea;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 7px;
}

.secondary-button a {
  padding: 13px 20px;
  letter-spacing: 0.5px;
  background-color: rgba(44, 28, 53, 0.43);
  color: #fffdea;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.border-button a {
  padding: 17px 30px;
  letter-spacing: 3px;
  background-color: #133f51b3;
  border: 2px solid #fffdea;
  color: #fffdea;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: ease-out 1s;
}

.border-button a:hover{
  transition: linear 0.2s;
  background-color: rgba(0,28,48, 0.5);
  box-shadow: 0px 0px 3px 1px ghostwhite;
}

.section-heading {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.section-heading h4 {
  margin-top: 0px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fffdea;
}

.section-heading p {
  color: #fffdea;
  padding: 0px 25%;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: rgba(255, 255, 255, 0.2); /* #f64c72 */
  border-radius: 7px;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0.6) 35%, rgba(0,0,0,0.8) 100%);
  padding: 10px 0px 10px 0px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-header {
  float: none;
}

.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {
  overflow: hidden;
  border-radius: 25px;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  line-height: 120px;
  font-weight: 900;
  text-transform: uppercase;
  color: #46bae2!important;
  transition: all 0.5s;
  margin-left: 30px;
}

.menu-first ul li {
  display: inline-block;
  margin: 0px;
}
.menu-first ul li:last-child {
  margin-right: 60px!important;
}
.menu-first {
  float: right;

}
.menu-first li a {
  color: #7a7a7a;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: #000 0px 0px 1px;
  display: inline-block;
  line-height: 30px;
  padding: 0px 20px;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  outline: none;
}
.menu-first ul li.active a {
  color: #fff;
  background-color: #1a1ac0;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #7a7a7a;
}

.navbar-inverse .navbar-toggle {
  border-color: #5f7cf2;
  background-color: rgba(255, 255, 255, 0.2);
  right: 15px;
}

.banner {
  background-image: url(../img/banner_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: 0px 30px 400px inset black;
}

.banner-content {
  text-align: center;
  padding: 300px 0px 300px 0px;
  color: #fffdea;
}

.banner-content h6 {
  font-size: 15px;
  color: #fffdea;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: bicubik, serif;
}

.banner-content h2 {
  font-size: 110px;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: #0f5555;
  color: #fffdea;
  letter-spacing: 12px;
  padding-top: 10px;
  font-family: bicubik, serif;
}

.banner-content h4 {
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  color: #30ffff;
  text-shadow: #0f5555;
  letter-spacing: 6px;
  margin-bottom: 120px;
  font-family: bicubik, serif;
}

.banner-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.banner-content ul li {
  display: inline-block;
  margin: 10px;
}


.intro {
  /* background-color: #001c30; #092935*/
  /*background: rgb(0,28,48);*/
  /*background: radial-gradient(circle, rgba(0,28,48,1) 14%, rgba(0,48,46,1) 100%);*/
  text-align: center;
  padding: 50px 20px;
  box-shadow: inset 0px 10px 80px black;
  background: linear-gradient(90deg, #103C24,#00252C, #3F0D2A, #00252C);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

video {
  border-radius: 20px;
}

.intro h4 {
  margin-bottom: 10px;
  margin-top: -15px;
  font-size: 17px;
  font-weight: 400;
  color: #fffdea;
  letter-spacing: 2px;
}

.intro h6 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fffdea;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.intro .border-button {
  margin-top: 45px;
}



#about {
  box-shadow: 0px 20px 40px black;
  padding: 0px;
  background-image: url(../img/banner_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#about .service-item {
  text-align: center;
  margin: 0px -15px;
  padding: 120px 45px;
}

#about .service-item h4 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 550;
  color: #fffdea;
  text-transform: uppercase;
}

#about .service-item p {
  margin-bottom: 0px;
  color: #fffdea;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  text-align: justify;
  text-align-last: center;
}

#about .first-service {
  background-color: rgba(16, 60, 36, 0.75);
  transition: ease-out 1s;
}

#about .second-service {
  background-color: rgba(63, 13, 42, 0.75);
  transition: ease-out 1s;
}

#about .third-service {
  background-color: rgba(0, 37, 44, 0.75);
  transition: ease-out 1s;
}


#about .first-service:hover {
  background-color: rgba(22, 67, 43, 0.8);
  transition: ease-in 0.3s;
}

#about .second-service:hover {
  background-color: rgba(70, 20, 49, 0.8);
  transition: ease-in 0.3s;
}

#about .third-service:hover {
  background-color: rgba(7, 44, 51, 0.8);
  transition: ease-in 0.3s;
}


#about .service-item .icon {
  height: 120px;
  display: inline-block;
  text-align: center;
  line-height: 74px;
  background-color: transparent;
}




.what-we-do {
  padding-bottom: 80px;
  background-image: url(../img/bckg_down.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: inset 0px 15px 30px black;
}

.what-we-do .tabs li a {
  text-decoration: none;
  color: #121212;
}

.what-we-do .tabs .active .list-item {
  background-color: #7D39!important;
  color: #fff!important;
  border-radius: 50px;
}

.what-we-do .tabs .active .list-item .icon {
  background-color: #fff;
}

.what-we-do .list-item {
  background-color: #FEEC;
  text-align: center;
  padding: 20px 0px;
  margin: 10px 0px;
  transition: all 0.5s;
  border-radius: 25px;
}

.what-we-do .list-item .icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  background-color: transparent;
}

.what-we-do .list-item h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.what-we-do .tab-content-services {
  margin-top: 60px;
}

.what-we-do .tab-content-services .right-image img {
  width: 100%;
  overflow: hidden;
}

.what-we-do .tab-content-services .left-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #fff;
}

.what-we-do .tab-content-services .left-text p {
  color: #fff;
  margin-left: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.what-we-do .tab-content-services .left-text .primary-button {
  margin-top: 35px;
  margin-bottom: 50px;
}


#portfolio {
  text-align: center;
}

#portfolio .item {
  margin: 0px 5px;
}

#portfolio .item p{
  font-size: 23px;
  font-weight: 450;
}

#portfolio .item h4{
  font-size: 19px;
  font-weight: 900;
  margin-top: 25px;
}

#portfolio .item span{
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  margin-top: 15px;
}


.portfolio-section {
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px 6px black inset;
  background: linear-gradient(5deg, #3c0125, #410228, #001c0a, #002c0f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#portfolio .section-heading h4 {
  color: #fffdea;
}

#portfolio .section-heading p {
  color: #fffdea;
  width: 60%;
  min-width: 60%;
  max-width: 70%;
}

#portfolio .portfolio-item img {
  max-width: 100%;
  overflow: hidden;
}

.icon img {
  max-width: 120px;
}

.owl-pagination {
  margin-top: 30px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 10px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #97603e;
}

#blog .section-heading {
  text-align: center;
}

#blog .section-heading p{
  font-size: 19px;
  font-weight: 450;
}

.wrapper {
  text-align: left;
  margin-top: 20px;
}

#blog .tabs {
  list-style: none;
  margin-top: 0px;
  width: 80%;
  float: right;
}

#blog .tabs li {
  display: block;
  text-align: left;
  margin-bottom: 45px;
}

#blog .tabs a {
  display:block;
  text-align: left;
  text-decoration:none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#e1d1e1;
  font-size: 22px;
  font-weight: 700;
  padding: 24px 25px;
  background-color: rgba(200, 100, 210, 0.4);
  transition: all 0.5s;
  box-shadow: 0px 0px 10px #977f8d;
  border-radius: 20px;
}

#blog .tabs a:hover {
  transition: linear 0.5s;
  box-shadow: 0px 2px 15px #977f8d;
  border-radius: 20px;
}

#blog .tabs .active {
  background-color: rgba(200, 120, 210, 0.1);
  color: #fffdea!important;
}
#blog .tabs .active .info-post li {
  color: #fffdea!important;
  font-weight: 600;
}
#blog .tabs .active .info-post li i {
  color: #fffdea!important;
}
#first-tab-group {
  margin-top: 0px;
  margin-bottom: 15px;
  float: right;
  max-width: 888px;
}

#first-tab-group img {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
  box-shadow: 0px 0px 10px #977f8d;
  border-radius: 7px 7px 0px 0px;
}
.tabgroup .text-content  {
  background-color: rgba(55, 16, 36, 0.97);
  color: #fffdea;
  padding: 25px;
  text-align: left;
  margin-top: -10px;
  /* margin-left: 10px;
  margin-right: 10px; */
  position: relative;
  box-shadow: 0px 0px 10px #977f8d;
  border-radius: 0px 0px 7px 7px;

}
.tabgroup .text-content h4 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fffdea;
  margin-top: 0px;
  margin-bottom: 15px;
}
.tabgroup .text-content span {
  font-size: 17px;
  color: #2498a2;
}
.tabgroup .text-content a {
  font-size: 13px;
  color: #33c1cf;
  text-decoration: none;
}
.tabgroup .text-content p {
  margin-top: 15px;
  color: #fffdea;

}

.tabgroup .text-content .primary-button {
  margin-bottom: 15px;
  margin-top: 30px;
}

.tabgroup .text-content .primary-button a {
  transition: ease-out 1s;
  color: #fffdea;
  box-shadow: 0px 0px 1px 1px #fffdea;
}

.tabgroup .text-content .primary-button a:hover {
  box-shadow: 0px 0px 10px 1px #fffdea;
  transition: linear 0.5s;
}


.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#blog {
  background-image: url(../img/banner_blog.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: 0px 30px 60px inset black;
  padding-bottom: 30px;
  background-color: #f4f4f4;
}

#blog .info-post li {
  display: inline;
  margin-right: 15px;
}

#blog .info-post li {
  color: #eee1eb;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

#blog .info-post li i {
  color: #ccbbc8;
  margin-right: 5px;
  font-weight: 800;
}

#contact-us {
  background: rgb(46,23,7);
  background: linear-gradient(0deg, rgba(46,23,7,1) 36%, rgba(48,0,28,1) 77%);
  box-shadow: 0px 70px 200px inset black;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 60px;
}

#contact-us .section-heading p {
  color: #fffdea;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 450;
}

#contact-us .section-heading h4 {
  color: #fffdea;
  font-size: 35px;
  font-weight: 550;
}

#contact-us .pop-button {
  margin-top: 30px;
}


#contact input {
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 450;
  color: #fffdea;
  background-color: rgba(210, 187, 187, 0.31);
  outline: none;
  border: none;
  box-shadow: 0px 0px 6px 0px #fffdea;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
  transition: ease-out 0.8s;
}

#contact input:hover {
  background-color: rgba(227, 208, 208, 0.21);
  transition: ease-in 0.2s;
}

#contact textarea {
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fffdea;
  background-color: rgba(210, 187, 187, 0.31);
  outline: none;
  border: none;
  height: 165px;
  min-height: 165px;
  max-height: 200px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px #fffdea;
  transition: ease-out 0.8s;
}

#contact textarea:hover {
  background-color: rgba(227, 208, 208, 0.21);
  transition: ease-in 0.2s;
}

#contact button {
  padding: 13px 20px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  background-color: #96755f;
  color: #fffdea;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px #fffdea;
  transition: ease-out 0.8s;
}

#contact button:hover {
  background-color: rgba(227, 208, 208, 0.21);
  box-shadow: 0px 0px 8px 2px #E3D0D035;
  transition: ease-in 0.4s;
}

footer {
  background-color: #130a03;
  padding: 0px;
}

footer p {
  font-size: 14px;
  text-transform: uppercase;
  color: #fffdea;
  margin-bottom: 0px;
  padding-top: 5px;
}

footer a {
  color: #9CF;
}

footer a:hover {
  color: #FC6;
}

footer .social-icons {
  text-align: center;
  padding-top: 8px;
  margin-bottom: 0px;
}

footer .social-icons li {
  display: inline;
  margin: 12px;
}

footer .social-icons a {
  color: #a3afc9;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.3px;
  transition: all 0.5s;
}

footer .social-icons a:hover {
  color: #ee9148;
}

footer .back-to-top a {
  text-align: center;
  background-color: #342e29;
  display: inline-block;
  width: 100%;
  padding: 5px;
  color: #fffdea;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

footer .back-to-top i {
  display: inline-block;
  font-size: 20px;
  width: auto;
}



/* RESPONSIVE */

@media (max-width: 991px){
  footer {
    text-align: center;
  }

  footer p {
    padding: 30px 0px 0px 0px;
  }
  footer .social-icons {
    padding: 30px 0px 30px 0px;
  }

  footer .back-to-top a {
    padding: 30px 0px;
  }

}

@media (max-width: 767px){

  .navbar-brand {
    display: flex;
    width: auto;
    im
  }
  
  .menu-first {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    float: none;
  }

  .menu-first li:first-child {
    border-top: 1px solid #eee;
  }

  .menu-first li {
    border-bottom: 1px solid #eee;
  }

  .menu-first li:last-child {
    border-bottom: none;
  }

  .menu-first li a {
    width: 100%;
    line-height: 50px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
  }

  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.35);
  }
  

}

@media (max-width: 385px){

  

}



/* LIGHT BOX */

.slbOverlay, .slbWrapOuter, .slbWrap {

    position: fixed; top: 0; right: 0; bottom: 0; left: 0;

}

.slbOverlay {

    overflow: hidden; z-index: 2000; background-color: #000; opacity: 0.7; filter: alpha(opacity=70);
    @include animation(slbOverlay 0.5s);

}

.slbWrapOuter {

    overflow-x: hidden; overflow-y: auto; z-index: 2010;

}

.slbWrap {

    position: absolute; text-align: center;

    &:before {

        content: ""; display: inline-block; height: 100%; vertical-align: middle;

    }

}

.slbContentOuter {

    position: relative; display: inline-block; vertical-align: middle; margin: 0px auto; padding: 0 1em; box-sizing: border-box; z-index: 2020; text-align: left;
    max-width: 100%;

    .slbContentEl & {

        padding: 5em 1em;

    }

}

.slbContent {

    position: relative;

    .slbContentEl & {

        @include animation(slbEnter 0.3s); background-color: #fff; box-shadow: 0 0.2em 1em rgba(#000, 0.4);

    }

}

.slbImageWrap {

    @include animation(slbEnter 0.3s);
    position: relative;

    &:after {

        content: ""; position: absolute; left: 0; right: 0; top: 5em; bottom: 5em; display: block; z-index: -1;
        box-shadow: 0 0.2em 1em rgba(#000, 0.6); background-color: #FFF;

    }

}

.slbImage {

    width: auto; max-width: 100%; height: auto; display: block; line-height: 0; box-sizing: border-box; padding: 5em 0; margin: 0 auto;

}

.slbCaption {

    @include ellipsis;
    font-size: 1.4em; position: absolute; left: 0; right: 0; bottom: 0; padding: em(10,14) 0;
    color: #fff; color: rgba(#fff, 0.7); text-align: center;

}

.slbCloseBtn, .slbArrow {

    margin:0; padding: 0; border: 0; cursor: pointer; background: none;
    &::-moz-focus-inner { padding: 0; border: 0; }

    &:hover { opacity: 0.5; }
    &:active { opacity: 0.8; }

}

.slbCloseBtn {

  font-size: 36px;

    $size: 50; $iconSize: 30;

    @include animation(slbEnter 0.3s);

    font-size: em($iconSize,10); width: em($size,$iconSize); height: em($size,$iconSize); line-height: em($size,$iconSize);
    position: absolute; right: em(-10,$iconSize); top: 0;
    color: #fff; color: rgba(#fff, 0.7); text-align: center;

    .slbLoading & {

        display: none;

    }

}

.slbLoadingText {

    font-size: 1.4em; color: #fff; color: rgba(#fff,0.9);

}

.slbArrows {

    position: fixed; top: 50%; left: 0; right: 0;

    .slbLoading & {

        display: none;

    }

}

.slbArrow {

    $size: 50; $iconSize: 8;

    position: absolute; top: 50%; margin-top: em(-1*$size,10); width: em($size,10); height: em($size*2,10);
    opacity: 0.7; text-indent: -999em; overflow: hidden;

    &:before {

        content: ""; position: absolute; top: 50%; left: 50%; margin: em(-$iconSize,10) 0 0 em(-$iconSize,10); border: em($iconSize,10) solid transparent;

    }

    &.next {

        right: 0; &:before { border-left-color: #fff; }

    }

    &.prev {

        left: 0; &:before { border-right-color: #fff;}

    }

}

.slbIframeCont {

    width: 80em; height: 0; overflow: hidden; padding-top: 56.25%; margin: 5em 0;

}

.slbIframe {

    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    box-shadow: 0 0.2em 1em rgba(#000, 0.6); background: #000;

}

@include keyframes(slbOverlay) {
    from { opacity: 0; }
    to { opacity: 0.7; }
}

@include keyframes(slbEnter) {
    from { opacity: 0; @include transform(translate3d(0, -1em, 0)); }
    to { opacity: 1; @include transform(translate3d(0, 0, 0)); }
}


 /* LOADER */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(16, 60, 36, 1); /* #103c24 */

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1002;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(63, 13, 42, 1); /* #3f0d2a */

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0, 37, 44, 1); /* #00252a */

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,28,38,1) 26%, rgba(0,28,36,1) 100%);
  z-index: 1001;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}


/* Pricing Style */
.pricing-section {
  background-image: url(../img/bckg_down.jpg);
  background-repeat: no-repeat;
  /*min-height: 500px;*/
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: 0px 30px 400px inset black;

}
.background-image-pricing {
  background-size: cover;
  background-repeat: no-repeat;
  /*min-height: 500px;*/
  position: absolute;
  width: 100%;
}

.pricing-section .section-heading h2 {
  text-align: center;
  margin-top: 50px;
  font-weight: 550;
  color: #fffdea;
  font-size: 40px;
  margin-bottom: 30px;
}

.pricing-section .section-heading p {
  text-align: center;
  font-weight: 400;
  color: #fffdea;
  font-size: 19px;
}

.pricing-section .section-heading h2,
.pricing-section .section-heading p {
}


.pricing-item p {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  text-align-last: center;
}

.pricing-item {
  text-align: center;
  padding: 30px 80px 30px 80px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  color: #fffdea;
  background-color: rgba(67, 67, 67, 0.41);
  border-radius: 12px;
  margin: 20px 20px 20px 20px;
  transition: ease-in 1.5s;
}

.pricing-item:hover {
  transition: linear 0.5s;
  background-color: rgba(118, 118, 118, 0.41);
  margin: 20px 20px 20px 20px;
}

.pricing-item h4 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  color: #fffdea;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.pricing-item .price:hover {
  background: rgba(26, 130, 50, 0.75);
  transition: ease-in 0.5s;
  box-shadow: 0px 0px 15px 3px rgba(16, 60, 36, 0.7);
}



.pricing-item .price {
  background: rgba(223, 232, 223, 0.29);
  backdrop-filter: blur(1px);
  border-radius: 7px;
  transition: ease-out 0.5s;
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 7px 3px rgba(16, 60, 36, 0.7);
}

.pricing-item .price h6 {
  font-size: 33px;
  color: #fffdea;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pricing-item .price span {
  display: inline-block;
  color: #fffdea;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.pricing-item .dev {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 35px 0px 30px 0px;
}
.pricing-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: grid;
}
.pricing-item ul li {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 19px;
  color: #fffdea;
}
.pricing-item ul li i {
  font-size: 25px;
  margin-right: 3px;
  margin-left: 10px;
  color: #49ecc6;
  font-weight: 550;
}
.pricing-item ul li:last-child {
  margin-bottom: 60px;
}


a.main-button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 40px;
  border-radius: 2px;
  margin-left: 10px;
  background-color: rgba(38, 134, 46, 0.7);
  backdrop-filter: blur(2px);
  color: #fffdea;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: ease-out 0.8s;
  box-shadow: 0px 0px 2px 2px rgba(164, 220, 170, 0.7);
}
a.main-button:hover {
  background-color: rgba(0, 255, 138, 0.4);
  backdrop-filter: blur(1px);
  transition: linear 0.3s;
  box-shadow: 0px 0px 20px 7px rgba(86, 125, 102, 0.7);
}

.rif {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  width: 500px;
  min-width: 80%;
  height: 410px;
  min-height: 80%;
}

.rif-a {
  position: relative;
  overflow: hidden;
  width: 100%;
}


/* Testimonials Style */
.testimonials-section {
  margin-top: 140px;
  background-color: #f7f7f7;
  padding: 100px 0px;
}
.testimonials-section .section-heading {
  text-align: center;
}
.testimonials-section .section-heading h2 {
  color: #1e1e1e;
}
.testimonial-item {
  text-align: center;
}
.testimonial-item i {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: rgb(114,2,187);
  background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
  border-radius: 50%;
  font-size: 18px;
  margin-bottom: 45px;
}
.testimonial-item p {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  line-height: 35px;
  margin-bottom: 40px;
}
.testimonial-item h4 {
  font-size: 19px;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}
.testimonial-item span {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
  color: #00bcd4;
}
.owl-testimonials .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-testimonials .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 50px
}
.owl-testimonials .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #7bd9e5;
}
.owl-testimonials .owl-dots .owl-dot:focus {
  outline: none
}
.owl-testimonials .owl-dots .owl-dot.active {
  background-color: #00bcd4;
}

.fa.fa-quote-left {
  height: 60px;
}